<div layout="column" style="height: 100%; width: 100%;">

    <div layout="row" layout-align="center start" style="height: 25%;">
        <md-card flex="80">
            <md-card-title layout="column">
                <md-card-title-text flex layout="row" layout-align="center start">
                    <span class="md-headline">REDAÇÕES PARA CORREÇÃO</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-actions layout="row" layout-align="center center">
                <md-button class="md-icon-button" ng-click="ctrl.atualizar()">
                    <i class="material-icons">refresh</i>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>

    <div layout="row" layout-align="center start" flex>
        <div style="overflow-y: scroll;" flex="80" layout-align="center start">
            <div layout="row" layout-align="center start" layout-wrap>
                <div ng-repeat="redacao in ctrl.redacoes" flex="33">
                    <md-card layout="row" layout-align="space-between center" ng-click="ctrl.visualizar(redacao._id)">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-caption"> {{redacao.name}} </span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions>
                            <md-button class="md-icon-button">
                                <i ng-if="redacao.status == 1" class="material-icons">check</i>
                                <i ng-if="redacao.status == 0" class="material-icons">hourglass_empty</i>
                            </md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>